.App {
  text-align: center;
  width:100%;
  height:auto;
  min-height: 100vh;
  display:flex;
}

.sidebar{
  width:30%;
  background-color: #f4eefa;
  display:flex;
  justify-content: center;
}

.main-content{
  width:70%;
  padding:20px;
}


